* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 62.5%;
  color: #fdf4f4;
}
a {
  color: #000000;
}

.background {
  min-height: 100vh;
  background-image: url("./sunset_clouds.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  font-size: 1.5rem;
  text-align: center;
  height: 115vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
}

#search-bar {
  position: relative;
  width: 50vw;
  opacity: 80%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  color: #000000;
  border-radius: 0.5rem;
}

#searchButton {
  position: absolute;
  width: 4rem;
  border: none;
  margin-right: 1rem;
  right: 30%;
  font-size: 2rem;
  height: 55%;
  cursor: pointer;
  color: #40575cfe;
  background: transparent;
  border-radius: 0.5rem;
}

#getLocation {
  position: absolute;
  right: 25%;
  width: 4rem;
  border: none;
  font-size: 2.2rem;
  cursor: pointer;
  color: #40575cfe;
  background: transparent;
  border-radius: 0.5rem;
}

.header {
  position: relative;
  height: 7rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.search-weather {
  background-color: #40575cfe;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #40575cfe;
  height: 9rem;
  font-size: 1.3rem;
}
span {
  font-size: 1.8rem;
  color: #fdf4f4;
  margin-left: 1rem;
  position: absolute;
  margin-top: 7rem;
  margin-bottom: 1rem;
}
.cloud-icon {
  font-size: 3.5rem;
  color: #cfe8ff;
  position: absolute;
  opacity: 80%;
  margin-left: 1.5rem;
}

.sun-icon {
  font-size: 3.5rem;
  color: #f0a350;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
}

.current-weather {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wf-0 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 30rem;
  background-color: #f0a350;
  color: #000000;
  opacity: 70%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: #40575cfe solid 1px;
  border-radius: 3rem;
}

a {
  text-decoration: none;
}

.wf {
  padding: 0.5rem;
}
ul {
  list-style: none;
}
.slider {
  width: 80vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}
.slider > li,
.wf-2,
.wf-4,
.wf-6,
.wf-8,
.wf-10,
.wf-12,
.wf-14,
.wf-16,
.wf-18,
.wf-20,
.wf-22,
.wf-24,
.wf-26,
.wf-28,
.wf-30,
.wf-32,
.wf-34,
.wf-36,
.wf-38 {
  scroll-snap-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.wf-2,
.wf-4,
.wf-6,
.wf-8,
.wf-10,
.wf-12,
.wf-14,
.wf-16,
.wf-18,
.wf-20,
.wf-22,
.wf-24,
.wf-26,
.wf-28,
.wf-30,
.wf-32,
.wf-34,
.wf-36,
.wf-38 {
  text-transform: uppercase;
  padding: 1rem;
  height: 18rem;
  width: 15rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  border: #40575cfe solid 1px;
  background-color: #f0a350;
  opacity: 70%;
  border-radius: 3rem;
  cursor: pointer;
}
.wf-2:focus-within,
.wf-4:focus-within,
.wf-6:focus-within,
.wf-8:focus-within,
.wf-10:focus-within,
.wf-12:focus-within,
.wf-14:focus-within,
.wf-16:focus-within,
.wf-18:focus-within,
.wf-20:focus-within,
.wf-22:focus-within,
.wf-24:focus-within,
.wf-26:focus-within,
.wf-28:focus-within,
.wf-30:focus-within,
.wf-32:focus-within,
.wf-34:focus-within,
.wf-36:focus-within,
.wf-38:focus-within {
  height: 20rem;
  width: 18rem;
}

.wf-2:focus-within h3,
.wf-4:focus-within h3,
.wf-6:focus-within h3,
.wf-8:focus-within h3,
.wf-10:focus-within h3,
.wf-12:focus-within h3,
.wf-14:focus-within h3,
.wf-16:focus-within h3,
.wf-18:focus-within h3,
.wf-20:focus-within h3,
.wf-22:focus-within h3,
.wf-24:focus-within h3,
.wf-26:focus-within h3,
.wf-28:focus-within h3,
.wf-30:focus-within h3,
.wf-32:focus-within h3,
.wf-34:focus-within h3,
.wf-36:focus-within h3,
.wf-38:focus-within h3 {
  text-align: center;
}

.wf-2 p,
.wf-4 p,
.wf-6 p,
.wf-8 p,
.wf-10 p,
.wf-12 p,
.wf-14 p,
.wf-16 p,
.wf-18 p,
.wf-20 p,
.wf-22 p,
.wf-24 p,
.wf-26 p,
.wf-28 p,
.wf-30 p,
.wf-32 p,
.wf-34 p,
.wf-36 p,
.wf-38 p {
  display: none;
}
.wf-2:focus-within p,
.wf-4:focus-within p,
.wf-6:focus-within p,
.wf-8:focus-within p,
.wf-10:focus-within p,
.wf-12:focus-within p,
.wf-14:focus-within p,
.wf-16:focus-within p,
.wf-18:focus-within p,
.wf-20:focus-within p,
.wf-22:focus-within p,
.wf-24:focus-within p,
.wf-26:focus-within p,
.wf-28:focus-within p,
.wf-30:focus-within p,
.wf-32:focus-within p,
.wf-34:focus-within p,
.wf-36:focus-within p,
.wf-38:focus-within p {
  display: inherit;
}
.wf-2 h5,
.wf-4 h5,
.wf-6 h5,
.wf-8 h5,
.wf-10 h5,
.wf-12 h5,
.wf-14 h5,
.wf-16 h5,
.wf-18 h5,
.wf-20 h5,
.wf-22 h5,
.wf-24 h5,
.wf-26 h5,
.wf-28 h5,
.wf-30 h5,
.wf-32 h5,
.wf-34 h5,
.wf-36 h5,
.wf-38 h5 {
  display: none;
}
.wf-2:focus-within h5,
.wf-4:focus-within h5,
.wf-6:focus-within h5,
.wf-8:focus-within h5,
.wf-10:focus-within h5,
.wf-12:focus-within h5,
.wf-14:focus-within h5,
.wf-16:focus-within h5,
.wf-18:focus-within h5,
.wf-20:focus-within h5,
.wf-22:focus-within h5,
.wf-24:focus-within h5,
.wf-26:focus-within h5,
.wf-28:focus-within h5,
.wf-30:focus-within h5,
.wf-32:focus-within h5,
.wf-34:focus-within h5,
.wf-36:focus-within h5,
.wf-38:focus-within h5 {
  display: inherit;
}

.footer {
  background-color: #40575cfe;
  height: 9rem;
  padding-top: 3.5rem;
}
footer p {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 410px) {
  .wf-0 {
    width: 40rem;
  }
  #root {
    font-size: 2rem;
  }
}
@media screen and (min-width: 752px) {
  .wf-0 {
    width: 50rem;
  }
  #root {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1050px) {
  .wf-0 {
    width: 60rem;
  }
  #root {
    font-size: 3rem;
  }
}
