* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 62.5%;
  color: #000000;
}

.background {
  background-image: url("./sky.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  min-height: 84vh;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

#search-bar {
  width: 400rem;
  padding: 1.5rem;
  height: 60%;
  background-color: #cff9ff;
}
#searchButton {
  width: 60%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  height: 60%;
  cursor: pointer;
  color: #cff9ff;
  background-color: #ffb690;
}

#getLocation {
  width: 60%;
  margin-right: 0.5rem;
  height: 60%;
  font-size: 2.2rem;
  cursor: pointer;
  color: #cff9ff;
  background-color: #ffb690;
}

.search-weather {
  height: 7rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #555;
  height: 9rem;
  font-size: 1.5rem;
}
span {
  font-size: 1.8rem;
  color: #fdf4f4;
  margin-left: 0.5rem;
  position: absolute;
  margin-top: 6rem;
}
.cloud-icon {
  font-size: 3.5rem;
  color: #cff9ff;
  position: absolute;
  opacity: 80%;
  margin-left: 1.5rem;
}

.sun-icon {
  font-size: 3.5rem;
  color: #ffb690;
  margin-right: 0.8rem;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
}

.wf {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.current-weather {
  font-size: 2rem;
  text-align: left;
  height: 54rem;
  width: 40rem;
  margin: 1rem;
  /* border: #555 solid 1px; */
  border-radius: 3rem;
  /* background-image: url("./rain.jpg");
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
}

a {
  text-decoration: none;
}

.wf-0 h4 {
  color: #fdf4f4;
  margin-top: 2rem;
  font-size: 1.7rem;
}
.wf-8,
.wf-16,
.wf-24,
.wf-32 {
  position: relative;
  padding: 0.5rem;
  height: 22rem;
  width: 35rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border: #555 solid 1px;
  background-color: #ffb690;
}

.wf-8:focus-within,
.wf-16:focus-within,
.wf-24:focus-within,
.wf-32:focus-within {
  transform: translateY(0);
  width: 100%;
  height: 30rem;
  text-align: left;
}
.wf-8:focus-within h3,
.wf-16:focus-within h3,
.wf-24:focus-within h3,
.wf-32:focus-within h3 {
  text-align: center;
}

.wf-8 p,
.wf-16 p,
.wf-24 p,
.wf-32 p {
  display: none;
}
.wf-8:focus-within p,
.wf-16:focus-within p,
.wf-24:focus-within p,
.wf-32:focus-within p {
  display: inherit;
}

.line {
  background-color: #3e1906;
  height: 1px;
}

.footer {
  background-color: #555;
  height: 3rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
footer p {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .wf-8,
  .wf-16,
  .wf-24,
  .wf-32 {
    font-size: 2rem;
  }
  .wf-8:focus-within,
  .wf-16:focus-within,
  .wf-24:focus-within,
  .wf-32:focus-within {
    font-size: 1.5rem;
  }
  input {
    display: inherit;
  }
}
a {
  color: #000000;
}
